.experience__timeline {
    position: relative;
    padding-left: 2rem;
    border-left: 2px solid #4db5ff; 
  }
  

  .experience__timeline-item {
    position: relative;
    margin: 1.5rem 0;
    padding-left: 1.5rem; 
  }
  
  
  .experience__timeline-icon {
    color: #4db5ff;
    margin-left: -2.0rem;
    font-size: 1.2rem;
    margin-top:1%;
  }
  

  .experience__timeline-item h4 {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
  }
  
  .experience__timeline-item small {
    display: block;
    color: #e8e4e4;
    margin-top: 0.2rem;
  }
  

  .experience__timeline-item p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #efd9d9;
  }
  
  .experience__timeline-item:before {
    content: '';
    position: absolute;
    left: -2.4rem; 
    top: 0.5rem; 
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #2e8fd4;
    z-index: 1;
  }
  